.footer {
    text-align: center;
    
    margin: 50px auto 0 auto;
    padding: 10px 3%;
    background: rgb(69, 67, 170);
    background: linear-gradient(90deg, rgba(69, 67, 170, 1) 0%, rgba(54, 89, 147, 1) 35%, rgba(6, 146, 78, 1) 100%);
}

